/*---------> common */

/* <----------- common */

/* -----------> header */
/*ハンバーガーメニュー↓―――――――――――*/
header .navbar-brand {
  font-family: 'Times New Roman', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho',
    'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝',
    'MS PMincho', serif;
}
span {
  background-color: #ffffff;
  height: 3px;
  width: 16px;
  display: block;
  border-radius: 1px;
  left: 0;
  margin: 2px 0 0 0;
}

span:nth-child(1) {
  top: 0px;
}
span:nth-child(2) {
  top: 10px;
}
span:nth-child(3) {
  top: 20px;
}

/*―――ハンバーガーメニュー↑――――――――*/
.nav-link {
  color: #fff;
}

.dropdown-menu {
  background-color: #000;
  color: #fff;
  background-color: black;
  border-radius: 0;
}
.dropdown-item {
  color: #fff;
}
li.nav-item a.nav-link {
  color: #fff;
}
header li a.nav-link {
  color: #fff;
}
button span.navbar-toggler-icon {
  color: #fff;
}
header a.navbar-brand,
.lead:hover {
  color: #fff;
}

/*スマホの時*/

@media screen and (max-width: 768px) {
  header {
    background-color: #000;
  }
  header nav a.navbar-brand {
    font-size: 25px;
  }

  header nav ul a.dropdown-item {
    font-size: 12px;
    padding: 15px;
  }
  header nav ul a.dropdown-item:hover {
    background-color: #000;
    color: #fff;
  }

  header nav .nav-link {
    font-size: 13px;
    margin: 8px;
  }
}
/*タブレットの時*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    background-color: #000;
  }

  header a.nav-link {
    font-size: 13px;
    position: relative;
    left: 20px;
    padding: 15px;
  }

  header nav ul li a.dropdown-item {
    float: left;
    font-size: 12px;
    padding: 15px;
    position: relative;
    left: 30px;
  }

  header button {
    position: relative;
    bottom: 3px;
  }

  header a.dropdown-item:hover {
    background-color: #000000;
  }
  header nav a.navbar-brand {
    font-size: 35px;
    position: relative;
    left: 23px;
    bottom: 3px;
  }
}
/*パソコンの時*/
@media screen and (min-width: 1024px) {
  header nav {
    background-color: #777777;
    height: 90px;
  }

  header nav a.navbar-brand {
    font-size: 40px;
    position: relative;
    left: 150px;
  }
  .dropdown-item {
    color: #fff;
    font-size: 14px;
  }
  header div .dropdown {
    font-size: 13px;
    color: #000;
  }

  header div li.nav-item {
    font-size: 15px;
  }

  header div .dropdown-menu {
    width: 230px;
    padding: 0px;
    position: relative;
    top: 70px;
  }
  header a.dropdown-item {
    padding: 15px;
    font-size: 13px;
  }
  header a.dropdown-item:hover {
    background-color: #cc9999;
    color: #fff;
  }
  header a.nav-link {
    position: relative;
    left: 380px;
    margin: 10px;
  }
  header .dropdown-menu {
    position: relative;
    left: 380px;
  }
  header a.nav-link:hover {
    color: #888888;
  }
}

/* <----------- header */

/* -----------> main */

/* <----------- main */

/* ------------> footer


/* <----------- footer */
