/*---------> common */

/* <----------- common */

/* -----------> header */
/*ハンバーガーメニュー↓―――――――――――*/

header button span {
  background-color: #fff;
  height: 3px;
  width: 16px;
  display: block;
  border-radius: 1px;
  left: 0;
  margin: 2px 0 0 0;
}

header button span:nth-child(1) {
  top: 0;
}

header button span:nth-child(2) {
  top: 10px;
}

header button span:nth-child(3) {
  top: 20px;
}

/*―――ハンバーガーメニュー↑――――――――*/

header .dropdown-menu {
  background-color: #000;
  color: #fff;
  background-color: #000;
  border-radius: 0;
  padding: 0;
}

header .dropdown-item {
  color: #fff;
}

header .nav-item .nav-link {
  color: #fff;
}

/*スマホの時*/
@media screen and (max-width: 768px) {
  header {
    background-color: #000;
  }

  header button {
    margin: 10px 0;
  }

  header img {
    width: 115px;
  }

  header .dropdown-item {
    font-size: 12px;
    padding: 15px;
  }

  header .dropdown-item:hover {
    background-color: #000;
    color: #fff;
  }

  header .nav-link {
    font-size: 13px;
    margin: 8px;
  }

  header button {
    position: relative;
    left: 10px;
  }
}

/*タブレットの時*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    background-color: #000;
  }

  header img {
    width: 150px;
    padding: 10px 0;
    margin-left: 3%;
  }

  header .nav-link {
    font-size: 13px;
    padding: 15px 15px 15px 20px;
    margin: 0 0 0 30px;
  }

  header .dropdown-item {
    font-size: 11px;
    padding: 15px;
    margin: 0 0 0 30px;
  }

  header button {
    position: relative;
    bottom: 3px;
  }

  header .dropdown-item:hover {
    background-color: #000;
    color: #fff;
  }
}
/*パソコンの時*/
@media screen and (min-width: 1200px) {
  header {
    background: rgba(0, 0, 0, 0.5);
  }

  header nav {
    height: 90px;
    max-width: 1200px;
    margin: auto;
  }

  header li {
    padding-left: 20px;
  }

  header .nav-link {
    text-align: center;
  }

  header .nav-link:hover {
    color: #999;
  }

  header img {
    width: 155px;
  }

  header .nav-item {
    font-size: 15px;
  }

  header .navbar-nav {
    margin-left: auto;
  }

  header .dropdown-item {
    padding: 15px;
    font-size: 13px;
  }

  header .dropdown-item:hover {
    background-color: #482404;
    color: #fff;
  }

  header .dropdown-menu {
    width: 210px;
    position: relative;
    top: 60px;
  }
}

/* <----------- header */
/* -----------> main */

header {
  position: relative;
  z-index: 10;
}

main {
  z-index: 5;
  position: absolute;
  top: 61.688px;
  width: 100%;
}

main .top-wrapper {
  display: flex;
  writing-mode: vertical-rl;
  align-items: center;
  width: 100%;
  background-image: url(https://d1f5hsy4d47upe.cloudfront.net/ac/aca22560122bea7a90d6bbb9175868a1_t.jpeg);
  background-size: cover;
  padding: 20% 0;
  z-index: 5;
}

main span {
  font-family: 'Times New Roman', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho',
    'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝',
    'MS PMincho', serif;
  color: #fff;
  white-space: nowrap;
}

main .top-text {
  background-color: #000;
  color: #fff;
  text-align: center;
}

main h2 {
  font-family: 'Times New Roman', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho',
    'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝',
    'MS PMincho', serif;
  display: block;
  margin: 0 0 10px 0;
  max-width: 1200px;
  margin: auto;
  width: 92.1875%;
  line-height: 1.6;
}

main p {
  font-family: 'Segoe UI', Verdana, '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo,
    sans-serif;
  font-size: 14px;
  display: block;
  max-width: 1200px;
  margin: auto;
  width: 92.1875%;
}

/*スマホのとき*/
@media screen and (max-width: 768px) {
  main .top-text {
    padding: 32px 0 33px 0;
    margin: 0 0 40px 0;
  }

  main h2 {
    line-height: 1.5;
    font-size: 20px;
  }

  main p {
    line-height: 2;
  }

  main span {
    font-size: 20px;
  }
}

/*タブレットのとき*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  main .top-text {
    padding: 51px 0 79px 0;
    margin: 0 0 30px 0;
  }

  main h2 {
    font-size: 36px;
    line-height: 1.6;
  }

  main p {
    line-height: 2.6;
  }

  main span {
    font-size: 36px;
  }
}

/*PCのとき*/
@media screen and (min-width: 1200px) {
  header {
    position: relative;
    z-index: 10;
  }

  main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  main .top-wrapper {
    padding: 25% 0;
  }

  main .top-text {
    padding: 51px 0 79px 0;
    margin: 0 0 30px 0;
  }

  main h2 {
    line-height: 1.6;
  }

  main p {
    line-height: 2.6;
  }

  main span {
    font-size: 36px;
  }
}

/* <----------- main */
/* ------------> footer*/
/* <----------- footer*/
